/* Bower overrides */
rupture.base-font-size 			= 16px
rupture.scale 					= 0 480px 767px 991px 1219px
rupture.scale-names 			= 'ty' 'xs' 'sm' 'md' 'lg'
rupture.anti-overlap 			= true

rupture.mobile-cutoff 			= 480px
rupture.tablet-cutoff 			= 991px
rupture.desktop-cutoff 			= 992px
rupture.enable-em-breakpoints 	= true
/* End Bower */

_base-font-size 				= rupture.base-font-size
_site-width 					= 1020px

/* Colors */

/* Fonts */

_fonts = {}

/* Sizes */

_margins = {}