/* Main */
_base-font-size 					= 16px
_site-width 						= 1140px

/* Bower overrides */
rolleiflex.baseFontSize 			= _base-font-size
rolleiflex.use.rem 					= true
rolleiflex.build.declarative 		= true
rolleiflex.breakpoints.lg.container = _site-width

bp = rolleiflex.breakpoints
rupture.base-font-size 				= _base-font-size
rupture.scale 						= 0 unit(bp.sm.breakpoint,"px") unit(bp.md.breakpoint,"px") unit(bp.lg.breakpoint,"px")
rupture.scale-names 				= keys(rolleiflex.breakpoints)
rupture.anti-overlap 				= true
rupture.enable-em-breakpoints 		= true
/* End Bower */

/* Colors */

colors = {

}

/* Fonts */

fonts = {

}

/* Margins */

margins = {

}