/* Main */
_base-font-size 					= 10px
_site-width 						= 1140px

/* Bower overrides */
rolleiflex.baseFontSize 			= 16px
rolleiflex.use.em 					= true
rolleiflex.build.declarative 		= true

rolleiflex.breakpoints = {
	"ty": {
		"breakpoint": 0,		
	},
	"xs": {
		"breakpoint": 481px,
		"container": 460px	
	},
	"sm": {
		"breakpoint": 767px,
		"container": 740px
	},
	"md": {
		"breakpoint": 991px,
		"container": 960px
	},
	"lg": {
		"breakpoint": 1200px,
		"container": _site-width
	}
}

bp = rolleiflex.breakpoints
rupture.base-font-size 				= 16px
rupture.scale 						= 0 (bp.xs.breakpoint) (bp.sm.breakpoint) (bp.md.breakpoint) (bp.lg.breakpoint)
rupture.scale-names 				= keys(rolleiflex.breakpoints)
rupture.anti-overlap 				= true
rupture.enable-em-breakpoints 		= true
rupture.mobile-cutoff 				= bp.sm.breakpoint
rupture.tablet-cutoff 				= bp.md.breakpoint
rupture.desktop-cutoff 				= bp.md.breakpoint
/* End Bower */

/* Colors */

colors = {
	"pink": #850047,
	"purple": #93648D,
	"green": #7BC8A4,
	"blue": #4CC3D9,
	"yellow": #FFC65D,
	"red": #F16745,
	"brown": #664F36,
	"white": whitesmoke,
	"gray": #404040,
	"black": #242629,
}

// Light, dark, saturated and desaturated colors. From index [0] to [8]
for colorName, hex in colors
	colors['lighten-'+colorName] = ()
	colors['darken-'+colorName] = ()
	colors['desaturate-'+colorName] = ()
	colors['saturate-'+colorName] = ()
	for i in (1..9)
		push(colors['lighten-'+colorName], lighten(hex, unit(i * 10, '%')))
		push(colors['darken-'+colorName], darken(hex, unit(i * 10, '%')))
		push(colors['desaturate-'+colorName], desaturate(hex, unit(i * 10, '%')))
		push(colors['saturate-'+colorName], saturate(hex, unit(i * 10, '%')))
	

/* Fonts */

fonts = {

}

/* Margins */

margins = {

}

/* Sizes */

sizes = {
	aside: 26.0rem,
	search-viewer: 39.0rem,
}