.btn
	width 100%
	padding 1.5rem
	background: colors.yellow
	color: colors.black
	display block
	font-weight bold
		
	&:hover
		background: colors.darken-blue[3]
		color: colors.white
	
.btn--submit
	width auto
	margin 0 0 0 auto
	
.btn--scale
	span
		display inline-block
		transition transform .3s ease
		
	&:active
		span
			transform scale(1.04)