.btn
	width 100%
	padding 1.5rem
	background: colors.yellow
	color: colors.black
	display block
	font-weight bold
	border none
	cursor pointer
	transition .3s ease
		
	&:hover
		background: colors.darken-blue[3]
		color: colors.white
	
.btn--submit
	width auto
	margin 0 0 0 auto
	
.btn--scale
	span
		display inline-block
		transition transform .3s ease
		
	&:active
		span
			transform scale(1.04)
			
.burguer
	visibility hidden
	opacity 0
	size(3.5rem)
	min-height 3.5rem
	background: colors.yellow
	position absolute
	top 2rem
	right 2rem
	padding .5rem
	
	&__stripe
		display block
		size(100%, .4rem)
		background: colors.black
		transition .3s ease
		
		& + &
			margin-top .5rem
		
	&--active
		background: colors.gray
		
		.burguer__stripe
			background: colors.yellow
		
			