.form-control
	min-height 3.6rem
	padding 1.0rem
	font-size 1.6rem
/*


	<div class="header__search">
		<form action="" id="search-form">
			<input type="hidden" name="origin" id="search-origin">
			<label for="origin">
				Selecione o local de origem
			</label>
			<input type="hidden" name="target" id="search-target">
			<label for="target">
				Selecione o local destino
			</label>
		</form>
	</div>
</aside>