// Generic 
*
*:before
*:after
	box-sizing border-box

input
button
textarea
	&:focus
	&:focus:active
		outline none
	
html
	font-size _base-font-size 

body
	font-size 1.6rem
	background: colors.white
	font-family Monospace, sans-serif
	
	> .spinner-wrapper
		background-color: rgba(colors.darken-blue[5],.2)
		
		.spinner
			size(10rem)
				
			&::after
				background-color: colors.purple
	
	&.js--loading
		.page-wrapper
			opacity 0
			visibility hidden
			
	
.locked--search
	.page-wrapper
		overflow hidden
		max-height 100vh
		
.js--loading
	background
	> .spinner-wrapper
		opacity 1
		visibility visible
		

.page-wrapper
	transition opacity .3s ease, visibility .3s ease
	
// Elements
a
	color: colors.blue
	&:hover
		color: colors.yellow
		display inline-block
		transform scale(1.06)
		text-decoration none
		
h1
	font-size 4rem
	
h2
	font-size 3.2rem
	
h3
	font-size 2.6rem
	
h4
	font-size 2rem
	
h5
	font-size 1.8 rem
		
small
	font-size 1.2rem
		
// Class Specific
.spinner-wrapper
	background-color: rgba(colors.gray,.4)
	position absolute
	left 0
	top 0
	size(100%)
	z-index 10
	opacity 0
	visibility hidden
	transition .3s ease

.spinner
.slide-loading
	height 5rem !important
	width 5rem !important
	position fixed
	margin auto
	z-index 11
	left 0
	right 0
	top 0
	bottom 0
	transition all .3s ease

	&::before
	&::after
		content ''
		position absolute
		top 0
		left 0
		display block
		width 100% !important
		height 100% !important
		border-radius 50%
		background-color: colors.yellow
		opacity 0.8
		animation bounce 1.6s infinite ease-in-out

	&::after
		animation-delay -.8s
		background-color: colors.darken-blue[3]
	
.img--responsive
	max-width 100%
	display block
	height auto
	
// Animations
		
@keyframes fadeIn {
  from {  opacity: 0;  }
  to { opacity: 1; }
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}