// Generic 
*
*:before
*:after
	box-sizing border-box

*:focus
*:focus:active
	outline none
	
// Elements
body
	font-size $font-size-base
	
a
	&:hover
		text-decoration none
	
// Class Specific
.img--responsive
	max-width 100%
	display block
	height auto