.h--pd-h-sm
	padding-left 1.5rem
	padding-right 1.5rem
	
.h--mg-t-5
	margin-top .5rem
	
.h-bg--green
	background-color: colors.green
	
.h-bg--blue
	background-color: colors.darken-blue[2]
	color: colors.white
	
.h-full-h
	min-height 100vh