#main
	padding 0 4.0rem
	overflow hidden
	min-height 100vh
	position relative
	
.main
	&__content
		transition opacity .3s ease
		opacity 1
		padding 2rem
		background-color: darken(colors.white,5%)
		min-height 100vh
		&--hidden
			opacity 0
	
	
+above(md)
	#main
		margin-left: sizes.aside