.regular-content
	> *
		margin-bottom 2.5rem
		
.page-title
	color: colors.gray
		
.critical-error
	max-width 45rem
	padding 2rem
	background-color: rgba(colors.red,.8)
	color: colors.white
	border-radius 1rem
	
	h1
		margin-bottom 2rem
		padding-bottom .8rem
		border-bottom: .4rem solid colors.white



