.regular-content
	line-height 1.4
	> *
		margin-bottom 2.5rem
		
	p
	li
		text-align justify
		
	li
		display list-item
		
		+ li
			margin-top 1rem
		
	ul
	ol
		margin-left 1.9rem
		
	&--slim
		max-width 70rem
		margin-left auto
		margin-right auto
		
.page-title
	color: colors.gray
		
.critical-error
	max-width 45rem
	padding 2rem
	background-color: rgba(colors.red,.8)
	color: colors.white
	border-radius 1rem
	
	h1
		margin-bottom 2rem
		padding-bottom .8rem
		border-bottom: .4rem solid colors.white



