#swipebox-prev
#swipebox-next
#swipebox-close
	background-image url(../images/icons.png)

#swipebox-overlay
	background-color: rgba(colors.black,.6)
	
#swipebox-top-bar
	background-color: colors.darken-blue[3]
	font-weight bold
	
#swipebox-slider 
	.slide-loading
		background-image none